# 前端项目目录（如果不需要忽略，请删除前面的 #）
# front-user/
# front-cooker/
# demo/

# Backend 子模块目录（如果不需要忽略，请删除前面的 #）
# Backend/backend-user/
# Backend/backend-cooker/
# Backend/backend-dp/

# 通用忽略
node_modules/
.idea/
.vscode/
**/target/
**/${project.build.directory}/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# 敏感配置文件（所有子模块）
**/src/main/resources/application-sensitive.yml
