<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wit.backendcooker.Mapper.ChefInfoMapper">

    <resultMap id="BaseResultMap" type="wit.backendcooker.Entity.ChefInfo">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="realName" column="real_name" />
            <result property="gender" column="gender" />
            <result property="idCardNo" column="id_card_no" />
            <result property="phone" column="phone" />
            <result property="idCardFront" column="id_card_front" />
            <result property="idCardBack" column="id_card_back" />
            <result property="detailAddress" column="detail_address" />
            <result property="avatarUrl" column="avatar_url" />
            <result property="qualificationUrl" column="qualification_url" />
            <result property="experienceYears" column="experience_years" />
            <result property="introduction" column="introduction" />
            <result property="auditStatus" column="audit_status" />
            <result property="auditRemark" column="audit_remark" />
            <result property="latitude" column="latitude" />
            <result property="longitude" column="longitude" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,real_name,gender,id_card_no,phone,
        id_card_front,id_card_back,detail_address,avatar_url,qualification_url,
        experience_years,introduction,audit_status,audit_remark,latitude,
        longitude,create_time,update_time
    </sql>
</mapper>
