<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.backendadmin.pojo.mapper.TUserMapper">

    <resultMap id="BaseResultMap" type="com.admin.backendadmin.pojo.entity.TUser">
            <id property="id" column="id" />
            <result property="phone" column="phone" />
            <result property="password" column="password" />
            <result property="role" column="role" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,phone,password,role,create_time,update_time
    </sql>
</mapper>
