@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
  background-color: var(--color-bg-soft);
}

a {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.3s;
}

a:hover {
  color: var(--color-accent-hover);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-border-dark);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg-soft);
}
